<!-- acceleratedrehabtherapy/apps/main/templates/main/auto_injury.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Auto Injury - Accelerated Rehab Therapy{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="relative bg-white pt-16 pb-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- Hero Content -->
        <div class="max-w-5xl">
            <h1 class="text-[1rem] md:text-[2rem] leading-tight font-black text-[#001524] tracking-tight mb-4">
                TURN TO AN EXPERIENCED AUTO INJURY DOCTOR<br class="hidden md:block"> 
                FOR PAIN MANAGEMENT
            </h1>
            
            <div class="relative max-w-3xl">
                <p class="text-md text-gray-600 leading-relaxed mb-16">
                    A chiropractor can help you better recover from soft tissue injuries, such as ligament, tendon and muscle sprains, that you may have sustained during a car accident. This is done through manipulation and rehab therapy.
                </p>

                {% include 'includes/_cta_arrow_button.html' %}
            </div>
        </div>
    </div>

    {% include 'includes/_services_grid.html' with services=services hide_margin=hide_margin|default:False %}

    <!-- Chiropractic Info Section -->
    <div class="w-full bg-white py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="space-y-8">
                <!-- First Paragraph -->
                <div class="max-w-3xl mx-auto text-center">
                    <p class="text-gray-700 leading-relaxed">
                        According to the National Safety Council, there are over 12 million motor vehicle accidents that involve more than 20 million vehicles each year. Choosing a <a href="#" class="text-blue-600 hover:text-blue-800">doctor for chiropractic</a> care after a car accident is a wise choice, especially because soft tissue injuries are some of the most common after a car accident. A car accident chiropractor can help individuals heal from an injury such as whiplash, which is common even in minor auto accidents.
                    </p>
                </div>

                <!-- Second Paragraph -->
                <div class="max-w-3xl mx-auto text-center">
                    <p class="text-gray-700 leading-relaxed">
                        An auto injury doctor can help you recover from problems like muscle and ligament sprains. After a car accident, chiropractic care is the method of choice for many people. The auto injury doctor can help you get work injury compensation. Without proper documentation from a medical professional soon after the accident, it is often very difficult to get workers' comp.
                    </p>
                </div>

                <!-- Section Title -->
                <div class="pt-8 text-center">
                    <h2 class="text-[1.75rem] md:text-[2.5rem] font-black text-[#001524] leading-tight mb-6 mx-auto">
                        SEEING A CHIROPRACTOR AFTER<br>A CAR ACCIDENT
                    </h2>
                </div>

                <!-- Content Paragraphs -->
                <div class="max-w-3xl space-y-6 mx-auto text-center">
                    <p class="text-gray-700 leading-relaxed">
                        After being involved in a car accident, you should immediately schedule an appointment with an auto accident injury chiropractor. Even if you feel okay, it is still important to get checked out by a chiropractor after a car accident. It is possible that you may have sustained injuries that do not show symptoms right away.
                    </p>

                    <p class="text-gray-700 leading-relaxed">
                        The longer you delay treatment, the more likely you are to suffer from lasting injuries. Getting car accident physical therapy can help you regain function in your muscles. Many times, putting off treatment results in chronic pain for many years.
                    </p>

                    <p class="text-gray-700 leading-relaxed">
                        Another reason to see a chiropractor after a car accident is to document any injuries while you still have them. This will be important for insurance purposes later. If you do not obtain documentation, you may not receive compensation for rehab bills or workers' comp. An automobile injury chiropractic practice can give you the evaluation that you need for your car crash pain.
                    </p>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Treatment Info Section -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 bg-white text-center -mt-12">
        <h2 class="text-4xl font-bold mb-4 text-[#001524] leading-tight mx-auto">AUTO INJURY TREATMENT<br>IN GREELEY AND FORT COLLINS</h2>
        
        <p class="text-gray-700 mb-0 ">
            When you come to our chiropractic auto injury clinic, we will determine the extent of your injuries. We can also estimate what auto injury treatment will look like for you. If you are looking for auto injury treatment in the Greeley, CO; or Fort Collins, CO, areas, look no further than Accelerated Rehab Therapy. We can help you recover from your auto accident pain and other injuries. Call us today to learn more about the treatment we offer for your auto injury.
        </p>
    </div>

    {% include 'includes/_cta_section.html' %}


    <!-- FAQs Section -->
    <div class="w-full bg-white py-8">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-4xl font-bold mb-6 text-[#001524]">FAQS</h2>
        
        <div class="space-y-8">
            <div>
                <h3 class="text-lg font-bold mb-2">Q: How can chiropractic care help me after an auto accident?</h3>
                <p class="text-gray-700">A: At Accelerated Rehab Therapy, our chiropractic treatments can help you better recover from soft tissue injuries, such as muscle sprains, that you may have sustained during an auto accident.</p>
            </div>

            <div>
                <h3 class="text-lg font-bold mb-2">Q: How does chiropractic care bring pain relief?</h3>
                <p class="text-gray-700">A: At Accelerated Rehab Therapy, our chiropractors conduct spinal manipulations to decrease pain. It naturally releases pain-relieving hormones in your body and potentially minimizes pain throughout your body.</p>
            </div>

            <div>
                <h3 class="text-lg font-bold mb-2">Q: What Are Some Signs that I May Have a Whiplash Injury?</h3>
                <p class="text-gray-700">A: Signs and symptoms of whiplash usually develop within days of the injury and may include:</p>
                <ul class="list-disc pl-8 mt-2 text-gray-700 space-y-2">
                    <li>Neck pain and stiffness</li>
                    <li>Ringing in ears (tinnitus)</li>
                    <li>Loss of range of motion in the neck</li>
                    <li>Headaches, most often starting at the base of the skull</li>
                    <li>Tenderness or pain in the shoulder, upper back, or arms</li>
                    <li>Tingling or numbness in the arms</li>
                    <li>Sleep disturbances</li>
                    <li>Dizziness</li>
                </ul>
            </div>

            <div>
                <h3 class="text-lg font-bold mb-2">Q: How Does Chiropractic Care Relieve Auto Accident Back Pain and Neck Pain?</h3>
                <p class="text-gray-700">A: Chiropractic treatment addresses the underlying injury, whether it is spinal or whiplash. Chiropractic adjustments not only can relieve pressure on the muscles and nerves but also brings alignment back to the spine. Additional therapies, such as corrective exercise, can help bring back the body's full range of motion.</p>
            </div>

            <div>
                <h3 class="text-lg font-bold mb-2">Q: What Can I Expect from My First Appointment?</h3>
                <p class="text-gray-700">A: As with other doctor appointments, your first visit to Accelerated Rehab Therapy will start with your medical history and a physical exam, followed by treatment. Before you leave, the chiropractor might give you exercises to do at home and provide you with a diet and nutrition plan.</p>
            </div>

            <div>
                <h3 class="text-lg font-bold mb-2">Q: What is the cost of my auto injury services?</h3>
                <p class="text-gray-700">A: In Colorado your personal Auto insurance typically has "MEDPAY" that will cover a limited amount of your care. The party who is "at-fault" should also be responsible for some of your medical bills, if not all. If these options aren't available, we can often use your personal commercial insurance to cover your care, which will depend on the plan coverage.</p>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}